<%= turbo_stream_from "retro_#{@retro.id}" %>

<div id="retro_<%= @retro.id %>">
  <%= render partial: "/common/show_redirect", locals: { retro: @retro, page: 'grouping' } %>
</div>

<div class="p-2 text-center">
  <h4>Group similar topics</h4>

  <% if @retro.user_id == current_user.id %>
    <p>Lead your team in discussing how to group your cards for voting.</p>
    <%= turbo_stream_from "host_group_retro_#{@retro.id}" %>

    <div id="host_group_retro_<%= @retro.id %>">
      <%= render partial: "/grouping/all_cards", locals: { retro: @retro, owner: true } %>
    </div>
  <% else %>
    <p>Your retro host is grouping your cards now.</p>
    <%= turbo_stream_from "user_group_retro_#{@retro.id}" %>

    <div id="user_group_retro_<%= @retro.id %>">
      <%= render partial: "/grouping/all_cards", locals: { retro: @retro, owner: false } %>
    </div>
  <% end %>

  <%= render partial: '/common/advance_retro', locals: { next_state: 'pointing' } %>

</div>
