<%= turbo_stream_from "retro_#{@retro.id}" %>

<div id="retro_<%= @retro.id %>">
  <%= render partial: "/common/show_redirect", locals: { retro: @retro, page: 'grouping' } %>
</div>

<div class="p-2 text-center">
  <h4>Group similar topics</h4>

  <em>Under construction - this will probably break other parts of the retro if you use it.</em>

  <% @parent_cards.each do |card| %>
    <%= render partial: '/grouping/card_group', locals: { card: card } %>
  <% end %>

  <%= render partial: '/common/advance_retro', locals: { next_state: 'pointing' } %>

</div>
