<div class="card mb-3" style="max-width: 1000px; margin: auto;">
  <ul class="list-group list-group-flush text-start">
    <%= render partial: "/complete/card_plain", locals: { child: card } %>
    <% card.cards.each do |child| %>
      <%= render partial: "/complete/card_plain", locals: { child: child } %>
    <% end %>
  </ul>
  <div class="card-body">
    <% comments = card.comments + card.cards.flat_map{ |c| c.comments } %>
    <%= render partial: "/discussion/comments", locals: { comments: comments, user_id: nil } %>
  </div>
  <div class="card-footer text-end p-1">
    <%= card.votes %> vote<%= card.votes == 1 ? "" : "s" %>
  </div>
</div>
