<%= turbo_stream_from "retro_#{@retro.id}" %>
<% 
  current_participant = @retro.current_participant(current_user.id)
  colors = [ 'blue', 'indigo', 'purple', 'pink', 'red', 'orange', 'yellow', 'green', 'teal' ]
%>

<div id="retro_<%= @retro.id %>">
  <%= render partial: "/common/show_redirect", locals: { retro: @retro, page: 'started' } %>
</div>

<div class="p-2 text-center">
  <% if current_participant.nil? %>
    <h4>You are not a participant</h4>
    <p>
    You must add yourself as a participant if you wish to add thoughts or vote. You
    may do so now in the management interface if this is in error.
    </p>
  <% else %>
    <h4>What's on your mind?</h4>
    <div class="row g-5">
      <div class="col-12 col-lg-6">
        <h5>Share a thought</h5>
        <script>
          function setCardColor(color) {
            document.getElementById("newCard").className = "card mb-2 m-auto card-" + color;
          }
        </script>
        <%= form_with model: @card, url: "/cards" do |f| %>
          <%= f.hidden_field :retro_id, value: @retro.id %>
          <div class="card mb-2 m-auto card-<%= @card.color %>" id="newCard" style="max-width: 650px;"> 
            <div class="card-header-sm text-end">
              <div class="row p-1">
                <div class="col-4"></div>
                <div class="col-3">
                  <%= f.label :column_desc, "Category:", class: "col-form-label col-form-label-sm" %>
                </div>
                <div class="col-5">
                  <%= f.select :column_desc, options_for_select(@retro.columns.map{ |c| c.name }, @card.column_desc), {}, { class: "form-select form-select-sm" } %>
                </div>
              </div>
            </div>
            <div class="card-body text-start">
              <%= f.label :title, "Your thought:", class: "form-label" %>
              <%= f.text_area :title, value: @card.title, rows: 4, class: "form-control card-textarea" %>
            </div>
          </div>
          <div class="text-start">
            <div class="dropdown">
              <%= f.submit "Create card", class: "my-2 btn btn-secondary" %>
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                Select your sticky-note color
              </button>
              <ul class="dropdown-menu">
              <% colors.each do |c| %>
                <li>
                  <%= f.radio_button :color, c, value: c, class: "form-check-input mt-2 m-1", onClick: "setCardColor('#{c}')"  %>
                  <%= f.label :color, c, value: c, class: "form-check-label mt-1 card-#{c} p-1 rounded w-75" %>
                </li>
              <% end %>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
  
      <div class="col-12 col-lg-6">
        <h5>Your thoughts so far</h5>
        <% if !@user_cards.nil? %>
          <% @user_cards.sort_by{ |c| c.created_at.to_i }.reverse.each do |card| %>
            <%= render partial: '/cards/card_category', locals: { card: card, retro_id: @retro.id } %>
          <% end %>
        <% end %>
      </div>
  
    </div>
  <% end %>
  <%= render partial: '/common/advance_retro', locals: { next_state: 'grouping' } %>
  
</div>
