<%= turbo_stream_from "retro_#{@retro.id}" %>

<div id="retro_<%= @retro.id %>">
</div>

<div class="p-2 text-center">
  <h4>Vote for what you'd like to discuss!</h4>
  <div class="row">
    <% @retro.columns.each do |column| %>
      <div class="col-12 col-md-<%= @retro.grid_value %>">
        <h4><%= column.name %></h4>
        <% column.cards.each do |card| %>
          <%= render partial: '/cards/card_pointed', locals: { card: card } %>
        <% end %>
      </div>
    <% end %>

  </div>  

  <%= render partial: '/common/advance_retro', locals: { next_state: 'discussion' } %>
  
</div>
