<%= turbo_stream_from "retro_#{@retro.id}" %>

<% current_participant = @retro.current_participant(current_user.id) %>
<% if !current_participant.nil? %>
  <%= turbo_stream_from "participant_#{current_participant.id}" %>
<% end %>

<div id="retro_<%= @retro.id %>">
  <%= render partial: "/common/show_redirect", locals: { retro: @retro, page: 'pointing' } %>
</div>

<div class="p-2 text-center">
  <% if !current_participant.nil? %>
    <h4>Vote for what you'd like to discuss!</h4>
    <div id="participant_<%= current_participant.id %>">
      <%= render partial: 'points_remaining', locals: { votes_remaining: current_participant.votes } %>
    </div>
  <% end %>

  <div class="row">
    <% @retro.columns.each do |column| %>
      <div class="col-12 col-md-<%= @retro.grid_value %>">
        <h4><%= column.name %></h4>
        <% if column.cards.length == 0 %>
          <div class="card mb-2" style="max-width: 350px; margin: auto;">
            <div class="card-body">
              <p class="opacity-75 text-start">No cards in this category</p>
            </div>
          </div>
        <% end %>
        <% column.cards.sort_by{ |c| c.created_at.to_i }.each do |card| %>
          <% if !current_participant.nil? %>
            <a href="/cards/<%= card.id %>/vote/<%= current_participant.id %>" class="list-group-item list-group-item-action">
              <%= render partial: '/pointing/card_pointed', locals: { card: card } %>
            </a>
          <% else %>
            <%= render partial: '/pointing/card_pointed', locals: { card: card } %>
          <% end %>
        <% end %>
      </div>
    <% end %>

  </div>  

  <%= render partial: '/common/advance_retro', locals: { next_state: 'discussion' } %>
  
</div>
