<div class="card card-<%= card.color %> mb-2" style="max-width: 350px; margin: auto;">
  <div class="card-header-sm text-start p-1">
    <%= card.votes %> vote<%= card.votes == 1 ? "" : "s" %>
  </div>
  <ul class="list-group list-group-flush text-start">
    <%= render partial: "/common/card_tiny", locals: { child: card } %>
    <% card.cards.each do |child| %>
      <%= render partial: "/common/card_tiny", locals: { child: child } %>
    <% end %>
  </ul>
</div>
