<%= turbo_stream_from "retro_#{@retro.id}" %>

<div id="retro_<%= @retro.id %>">
  <%= render partial: "/common/show_redirect", locals: { retro: @retro, page: 'discussion' } %>
</div>

<div class="p-2 text-center">
  <h4>Let's talk about your selections</h4>

  <% @all_cards.sort_by(&:votes).reverse.each do |card| %>
    <div class="row border-bottom mb-2">
      <div class="col-12 col-lg-4">
        <%= render partial: "/cards/card_full", locals: { card: card } %>
      </div>
      <div class="col-12 col-lg-8">
        <%= turbo_stream_from "card_#{card.id}" %>

        <div id="card_<%= card.id %>">
          <%= render partial: "/discussion/comment_form", locals: { card: card, user_id: current_user.id } %>
        </div>
      </div>
    </div>
  <% end %>

  <%= render partial: '/common/advance_retro', locals: { next_state: 'complete' } %>
  
</div>
