<%= form_for @retro do |f| %>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description, autofocus: true, class: "w-75" %>
    <% @retro.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :retro_date %><br />
    <%= f.date_field :retro_date %>
    <% @retro.errors.full_messages_for(:retro_date).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit class: "my-2" %>
  </div>
<% end %>
