<%= form_for @retro do |f| %>
  <div class="mb-3">
    <%= f.label :description, class: "form-label" %><br />
    <%= f.text_field :description, autofocus: true, class: "form-control" %>
    <% @retro.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= f.label :retro_date, class: "form-label" %><br />
    <%= f.date_field :retro_date, class: "form-control" %>
    <% @retro.errors.full_messages_for(:retro_date).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= f.submit class: "my-2 btn btn-dark" %>
  </div>
<% end %>
