<p>
  To allow guest users that aren't registered by email, please use the Guests tab.
</p>
<% if @retro.participants.length > 0 %>
  <ul class="list-group">
    <%= render @retro.participants %>
  </ul>
<% else %>
  <div class="border rounded p-2">
    <p class="opacity-75"><em>No participants yet, that'll be pretty boring.</em></p>
  </div>
<% end %>

<p>
  Add participants by email. They will have to create an account here that matches.<br />
  <strong>Be sure to add yourself if you wish to add thoughts and vote!</strong>
</p>

<%= form_with model: [ @retro, @retro.participants.build ] do |f| %>
  <div>
    <%= f.label :email, "Email or emails, separate multiples with a comma:", class: "form-label" %><br />
    <%= f.text_area :email, class: "form-control" %>
    <% @retro.errors.full_messages_for(:email).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <div class="dropdown">
      <%= f.submit "Add participant(s)", class: "my-2 btn btn-secondary" %>
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
        Select participants from previous retros
      </button>
      <ul class="dropdown-menu">
        <li>
          <%= f.radio_button :prior, "None", value: "", class: "form-check-input mt-2 m1" %>
          <%= f.label :prior, "None", value: "", class: "form-check-label mt-1 card p-1 rounded" %>
        <% @retros.each do |retro| %>
          <% priors = retro.participants.map { |prior| prior.email }.reject { |email| email.starts_with?("guest_") }.join(", ") %>
          <% if !priors.empty? %>
            <li>
              <%= f.radio_button :prior, priors, value: retro.id, class: "form-check-input mt-2 m1" %>
              <%= f.label :prior, "#{retro.retro_date}: #{priors}", value: retro.id, class: "form-check-label mt-1 card p-1 rounded" %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
