<div class="px-4 py-5">
  <h2>Retro Information</h2>

  <h4><%= @retro.description %></h4>
  <p><%= @retro.retro_date %></p>

  <!-- TODO: make this a method in the model -->
  <% if @retro.participants.length == 0 ||
    @retro.columns.length == 0
  %>
    <div class="opacity-75">
      <em>You must specify participants and a theme to start the retro</em>
    </div>
  <% else %>
    <%= form_with model: @retro do |f| %>
      <div class="field">
        <%= f.label :state, "Select the state for the retro:" %>
        <%= f.select :state, [
          "setup",
          "welcome",
          "started",
          "grouping",
          "pointing",
          "discussion",
          "complete"
        ] %>
      </div>
      <div class="action">
        <%= f.submit "Update state", class: "my-2" %>
      </div>
      <% if @retro.state != "setup" %>
        <a href="/<%= @retro.state %>/<%= @retro.id %>">Join your retro in progress</a>
      <% end %>
    <% end %>
    <div class="opacity-75">
      <em>Starting the retro will finalize the settings below</em>
    </div>
  <% end %>

  <div class="border rounded p-3 mt-3">
    <h4>Participants</h4>
    <div class="border rounded p-2">
      <% if @retro.participants.length > 0 %>
        <ul>
          <%= render @retro.participants %>
        </ul>
      <% else %>
        <p class="opacity-75"><em>No participants yet, that'll be pretty boring.</em></p>
      <% end %>
    </div>
    
    Add participants by email. They will have to create an account here that
    matches.</em>

    <%= form_with model: [ @retro, @retro.participants.build ] do |f| %>
      <div class="field">
        <%= f.label :email, "Email or emails, separate multiples with a comma:" %><br />
        <%= f.text_area :email %>
        <% @retro.errors.full_messages_for(:email).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>

      <div class="actions">
        <%= f.submit "Add participant(s)", class: "my-2" %>
      </div>
    <% end %>
  </div>


  <div class="border rounded p-3 mt-3">
    <h4>Retro Theme</h4>
    <div class="border rounded p-2">
      <% if @retro.columns.length > 0 %>
        <ul>
          <%= render @retro.columns.order(rank: :asc) %>
        </ul>
      <% else %>
        <p class="opacity-75"><em>You'll need to pick a retro theme!</em></p>
      <% end %>
    </div>

    <%= form_with model: [ @retro, @retro.columns.build ] do |f| %>
      <div class="field">
        <%= f.label :curated, "Select from a pre-defined theme:" %><br />
        <%= f.select :curated, [ 
          "Mad, Sad, Glad",
          "Liked, Lacked, Longed for, Learned",
          "Drop, Add, Keep, Improve",
          # "What went well, What did not go as well, What will we do differently",
          "Wind, Anchors, Rocks, Land",
          "Start, Stop, Continue"
        ] %>
      </div>
      <div class="field">
        <%= f.label :supplied, "Or create one of your own, comma separated:" %><br />
        <%= f.text_field :supplied %>
      </div>
      <div class="actions">
        <%= f.submit "Create or update theme", class: "my-2" %>
      </div>
    <% end %>
  </div>

  
  <div class="border rounded p-3 mt-3">
    <h4>Ice-breaker</h4>
    <div class="border rounded p-2">
      <% if @retro.icebreaker %>
        <%= @retro.icebreaker.question %>
      <% else %>
        <p class="opacity-75"><em>No ice-breaker set, how will the ice ever be broken?</em></p>
      <% end %>
    </div>

    Add an ice-breaker question if you wish, otherwise this portion of the retro
    will be skipped.

    <%= form_with model: [ @retro, Icebreaker.new ] do |f| %>
      <div class="field">
        <%= f.label :question, "Question or discussion point:" %><br />
        <%= f.text_area :question %>
        <% @retro.errors.full_messages_for(:question).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>

      <div class="actions">
        <%= f.submit "Create or update ice-breaker", class: "my-2" %>
      </div>
    <% end %>
  </div>

  <br />
  <%= link_to "Edit retro", edit_retro_path(@retro) %>
  <br />
  <%= link_to "Back to all retros", retros_path %>

</div>
