<div class="px-4 py-5">
  <h2>Retro Information</h2>

  <h4><%= @retro.description %></h4>
  <p><%= @retro.retro_date %></p>

  <% if @retro.participants.length == 0 || @retro.columns.length == 0 %>
    <div class="opacity-75">
      <em>You must specify participants and a theme to start the retro</em>
    </div>
  <% else %>
    <%= form_with model: @retro do |f| %>
      <div class="input-group">
        <%= f.label :state, "Set retro stage:", class: "input-group-text" %>
        <%= f.select :state, [
          "setup",
          "welcome",
          "started",
          # "grouping",
          "pointing",
          "discussion",
          "complete"
        ], {}, { class: "form-select" } %>
      </div>
      <div>
        <%= f.submit "Update state", class: "my-2 btn btn-secondary" %>
      </div>
      <% if @retro.state != "setup" %>
        <a href="/<%= @retro.state %>/<%= @retro.id %>">Join your retro in progress</a>
      <% end %>
    <% end %>
  <% end %>

  <nav>
    <div class="nav nav-tabs mt-3" id="nav-tab" role="tablist">
      <button class="nav-link<%= (@tab.nil? || @tab == 'participants') ? ' active' : '' %>" id="nav-participants-tab" data-bs-toggle="tab" data-bs-target="#nav-participants" type="button" role="tab" aria-controls="nav-participants" aria-selected="true">Participants</button>
      <button class="nav-link<%= @tab == 'guest' ? ' active' : '' %>" id="nav-guest-tab" data-bs-toggle="tab" data-bs-target="#nav-guest" type="button" role="tab" aria-controls="nav-guest" aria-selected="false">Guests</button>
      <button class="nav-link<%= @tab == 'theme' ? ' active' : '' %>" id="nav-theme-tab" data-bs-toggle="tab" data-bs-target="#nav-theme" type="button" role="tab" aria-controls="nav-theme" aria-selected="false">Retro Theme</button>
      <button class="nav-link<%= @tab == 'icebreaker' ? ' active' : '' %>" id="nav-icebreaker-tab" data-bs-toggle="tab" data-bs-target="#nav-icebreaker" type="button" role="tab" aria-controls="nav-icebreaker" aria-selected="false">Ice-Breaker</button>
    </div>
  </nav>

  <div class="tab-content p-3 border-start border-end border-bottom rounded-bottom" id="nav-tabContent">
    <div class="tab-pane fade<%= (@tab.nil? || @tab == 'participants') ? ' show active' : '' %>" id="nav-participants" role="tabpanel" aria-labelledby="nav-participants-tab" tab-index="0">
      <p>
        To allow guest users that aren't registered by email, please use the Guests tab.
      </p>
      <% if @retro.participants.length > 0 %>
        <ul class="list-group">
          <%= render @retro.participants %>
        </ul>
      <% else %>
        <div class="border rounded p-2">
          <p class="opacity-75"><em>No participants yet, that'll be pretty boring.</em></p>
        </div>
      <% end %>
      
      <p>
        Add participants by email. They will have to create an account here that matches.<br />
        <strong>Be sure to add yourself if you wish to add thoughts and vote!</strong>
      </p>

      <%= form_with model: [ @retro, @retro.participants.build ] do |f| %>
        <div>
          <%= f.label :email, "Email or emails, separate multiples with a comma:", class: "form-label" %><br />
          <%= f.text_area :email, class: "form-control" %>
          <% @retro.errors.full_messages_for(:email).each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>

        <div>
          <%= f.submit "Add participant(s)", class: "my-2 btn btn-secondary" %>
        </div>
      <% end %>
    </div>

    <div class="tab-pane fade<%= @tab == 'guest' ? ' show active' : '' %>" id="nav-guest" role="tabpanel" aria-labelledby="nav-guest-tab" tab-index="0">
      <p>TODO: The guest link is under development.</p>
      <p>
        To have participants register by email, please them on the participants tab.
      </p>

      <% if @retro.guest_link.nil? %>
        <%= link_to "Create guest link", "/retros/#{@retro.id}/add_guest_link", class: "btn btn-secondary" %>
        <p>
          Adding a guest link will allow a participant to join the retro with just a link, but it will be a
          temporary account. Anybody with the link will be able to participate in the retro and see the results.
          The link will not work once the retro is complete.
        </p>
      <% else %>
        <%= link_to "Delete guest link", "/retros/#{@retro.id}/remove_guest_link", class: "btn btn-secondary" %>
        <p class="card" id="guest_link">
          <%= link_to "/guest/#{@retro.guest_link}", "/guest/#{@retro.guest_link}" %>
        </p>
        <p>
          Deleting the guest link will stop guest users from joining the retro, but won't block ones already
          in. A retro that is complete won't allow for guests to join.
        </p>
      <% end %>
    </div>

    <div class="tab-pane fade<%= @tab == 'theme' ? ' show active' : '' %>" id="nav-theme" role="tabpanel" aria-labelledby="nav-theme-tab" tab-index="0">
      <% if @retro.columns.length > 0 %>
        <ul class="list-group">
          <%= render @retro.columns.order(rank: :asc) %>
        </ul>
      <% else %>
        <div class="border rounded p-2">
          <p class="opacity-75"><em>You'll need to pick a retro theme!</em></p>
        </div>
      <% end %>

      <%= form_with model: [ @retro, @retro.columns.build ] do |f| %>
        <div>
          <%= f.label :curated, "Select from a pre-defined theme:", class: "form-label" %><br />
          <%= f.select :curated, [ 
            "Mad, Sad, Glad",
            "Liked, Lacked, Longed for, Learned",
            "Drop, Add, Keep, Improve",
            "What went well, What did not go as well, What will we do differently",
            "Wind, Anchors, Rocks, Land",
            "Start, Stop, Continue"
          ], {}, { class: "form-select" } %>
        </div>
        <div>
          <%= f.label :supplied, "Or create one of your own, comma separated:", class: "form-label" %><br />
          <%= f.text_field :supplied, class: "form-control" %>
          <p class="form-text">Not more than six categories, please.</p>
        </div>
        <div>
          <%= f.submit "Create or update theme", class: "my-2 btn btn-secondary" %>
        </div>
      <% end %>
    </div>

    <div class="tab-pane fade<%= @tab == 'icebreaker' ? ' show active' : '' %>" id="nav-icebreaker" role="tabpanel" aria-labelledby="nav-icebreaker-tab" tab-index="0">
      <div class="border rounded p-2">
        <% if @retro.icebreaker && !@retro.icebreaker.question.empty? %>
          <%= @retro.icebreaker.question %>
        <% else %>
          <p class="opacity-75"><em>No ice-breaker set, how will the ice ever be broken?</em></p>
        <% end %>
      </div>

      Add an ice-breaker question if you wish.

      <%= form_with model: [ @retro, Icebreaker.new ] do |f| %>
        <div>
          <%= f.label :question, "Question or discussion point:", class: "form-label" %><br />
          <%= f.text_area :question, class: "form-control" %>
          <% @retro.errors.full_messages_for(:question).each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>

        <div>
          <%= f.submit "Create or update ice-breaker", class: "my-2 btn btn-secondary" %>
        </div>
      <% end %>
    </div>
  </div>

  <br />
  <%= link_to "Edit retro", edit_retro_path(@retro) %>
  <br />
  <%= link_to "Back to all retros", retros_path %>

</div>
