<div class="card card-<%= card.color %> mb-2" style="max-width: 350px; margin: auto;">
  <div class="card-header-sm text-end p-1">
    <%= card.votes %> votes, <%= card.column_desc %>
  </div>
  <div class="card-body">
    <h5 class="card-title text-start"><%= card.title %></h5>
    <% if card.discussion %>
      <p class="card-text text-start mt-3"><%= card.discussion %></p>
    <% end %>
  </div>
</div>
